.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.searchButton{
  width: 110px;
  height: 50px;
  border-radius: 2px;
  margin-left: 5px;
  border-color: #178A60;
  color:#178A60;
  background-color: #282c34; 
}
.textbox{
  width: 160px;
  height: 50px;
  margin-left: 50px;
}
.navbar{
  padding-left: 30px;
}
.loginButton{
  margin-left: 2px;
  width: 50px; 
}
.loginImg{
  width: 30px;
  height: 30px;
  margin-left: 700px;
}
.passwordtext{
  padding-left: 0 25%;
}
.login{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signin{
  margin-left:10px;
  border-radius: 2px;
}
.cart{
  margin-left:600px;
}
.submit{
  
}